@charset "utf-8";

@font-face {
    font-family: 'namorados';
    src: url('../fontes/MorningRoutine.otf') format('opentype');
}
@font-face {
    font-family: 'Best-part';
    src: url('../fontes/HopeCity.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #5076E6;
    --cor02: #3C57AA;
    --cor03: #273A70;
    --cor04: #1D2C55;
    --cor05: #090F1C;

    --fonte-titulo: 'Best-part', sans-serif;
    --fonte-texto: 'namorados', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;}

    header {
        background-image: linear-gradient(to right, var(--cor05)23%, var(--cor01));
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
        height: 130px;
        padding: 30px;
        text-align: center;
        font-family: var(--fonte-titulo);
    }

    header > h1{
        font-size: 3em;
    }

    main {
        box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.123);
        margin: auto;
        max-width: 900px;
        min-width: 300px;
        background-image: linear-gradient(to right, var(--cor05)25%, var(--cor01));
        font-family: var(--fonte-texto);
        color: white;
        font-size: 1.5em;

    }


    .conteiner01{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .conteiner01 > img {
        max-width: 400px;
        max-height: 600px;
        width: 100%;
    }


    .paragrafo01 {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100%;    
    }





