@charset "UTF-8";

@font-face {
    font-family: 'namorados';
    src: url('../fontes/MorningRoutine.otf') format('opentype');
}
@font-face {
    font-family: 'fonte-titulo';
    src: url('../fontes/HopeCity.otf') format('opentype');
    font-weight: normal;
}





:root {
    --cor01: #5076E6;
    --cor02: #3C57AA;
    --cor03: #273A70;
    --cor04: #1D2C55;
    --cor05: #090F1C;

    --fonte-titulo: 'fonte-titulo', sans-serif;
    --fonte-texto: 'namorados', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 20px 0px 20px 0px;
    background-image: linear-gradient(to right, var(--cor05), var(--cor03));
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-titulo);
    text-shadow: 1px 1px 1px black;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 3em;
}

header > p {
    font-family: var(--fonte-texto);
    font-size: 1.8em;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    transition-duration: 0.5s;
}

header > p > a:hover{
    background-color: var(--cor02);
    padding: 5px;
    border-radius: 1px 10px;
}

nav{
    background-image: linear-gradient(to right, var(--cor05), var(--cor03));
    padding: 6px;

}

nav > a {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 10px;
    font-weight: bolder;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor02);
    padding: 5px;
    border-radius: 1px 10px;
}

main {
    font-family: var(--fonte-texto);
    font-size: 2em;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 900px;
    min-width: 150px;
}

main > h1 {
    background-color: var(--cor01);
    border-radius: 0px 30px 0px 30px;
    margin: 20px 10px 10px 0px;
    padding: 10px;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 0px black;
}


main > p {
    padding-bottom: 10px;
    text-align: justify;
}

main > p#imagem {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imagens/rio.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    color: white;
    max-width: 100%;
}





